!
! .Xresources
!

! urxvt 

!############################################################

URxvt.borderless:           false
URxvt.internalBorder:       3
URxvt.externalBorder:       3
URxvt.scrollBar:            false

! Transparency Un-comment to enable 
! URxvt*.transparent: true
! Transparency shading - 0 to 99 lightens, 101 to 200 lightens
! URxvt*.shading: 20

! Font Settings
! https://github.com/lucy/tewi-font
URxvt.font:                 xft:Tewi:pixelsize=12:antialias=true
URxvt.boldFont:             xft:Tewi:pixelsize=12:antialias=true

! Clickable urls
URxvt.perl-ext-common:      default,matcher,selection-to-clipboard
! Specifiy pathname to browser of choice
URxvt.url-launcher:         /usr/bin/firefox
URxvt.matcher.button:       1

! Copy and pasting
URxvt.perl-ext-common:      default,clipboard
URxvt.iso14755:             False
! Keybindings 
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste

! Terminal Tabs
URxvt.tabbed.tabbar-bg:     -1
URxvt.tabbed.tabbar-fg:     -2
URxvt.tabbed.tab-bg:        -2
URxvt.tabbed.tab-fg:        -1
URxvt.tabbed.title-bg:      -1
URxvt.tabbed.title-fg:      -2
URxvt.tabbed.autohide:      true
URxvt.tabbed.new-button:    false
URxvt.tabbed.title:         true

! fonts
Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight

!############################################################
!
! Solarized color scheme for the X Window System
! check out: http://ethanschoonover.com/solarized
!
!############################################################


! Common

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900


! Dark

#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3


! Light

!#define S_base03        #fdf6e3
!#define S_base02        #eee8d5
!#define S_base01        #93a1a1
!#define S_base00        #839496
!#define S_base0         #657b83
!#define S_base1         #586e75
!#define S_base2         #073642
!#define S_base3         #002b36


! To only apply colors to your terminal, for example, prefix
! the color assignment statement with its name. Example:
!
! URxvt*background:            S_base03

*background:              S_base03
*foreground:              S_base0
*fading:                  40
*fadeColor:               S_base03
*cursorColor:             S_base1
*pointerColorBackground:  S_base01
*pointerColorForeground:  S_base1

*color0:                  S_base02
*color1:                  S_red
*color2:                  S_green
*color3:                  S_yellow
*color4:                  S_blue
*color5:                  S_magenta
*color6:                  S_cyan
*color7:                  S_base2
*color9:                  S_orange
*color8:                  S_base03
*color10:                 S_base01
*color11:                 S_base00
*color12:                 S_base0
*color13:                 S_violet
*color14:                 S_base1
*color15:                 S_base3

